// main:all.less

.about {
  .info {
    float: left;
    width: 430px;
    margin-left: 30px;
  }
  h1 {
    height: 1.6em;
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
    padding-top:10px;
  }
  .content {
    border: 2px solid #333;
    border-left:none;
    border-right:none;
  }
  .line {
    border-top: 1px solid #333;
  }
  p {
    padding: 10px 0;
  }
  .gray {
    color:#b4b4b4;
  }
  .space {
    height: 40px;
    border-top: 2px solid #333;
  }
  .jobs {
    background-color: @mainColor;
    display: inline-block;
    color: #fff;
    padding: 3px 5px;
    margin-top: 10px;
  }
  .job-title {
    margin: 10px 0;
  }
  .job-desc {
    font-size: 12px;
  }
  .picture {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
  }
}