// main: all.less
@import "base.less";
.icon {
  background-image: url(../img/icon.png) no-repeat;
  // 详情页，烹饪时间
  &.icon-clock {
  }
  // 详情页，口味：鲜
  &.icon-fresh {
  }
  // 详情页，口味：咸
  &.icon-salty {
  }
  // 详情页，注意
  &.icon-warning {
  }
  // 详情页，购物车
  &.icon-cart {
  }
  // 详情页，加5元辣酱包
  &.icon-s-spicy {
  }
  // 详情页，加5元辣酱包
  &.icon-s-check {
  }
  &.icon-s-checked {
  }
  // 列表页，删除选择条件，叉子
  &.icon-cross {
  }
  // 列表页，已选择，左侧绿色箭头
  &.icon-arrow {
  }
}

// 灰色分割线
.line-gray {
  height:1px;
  background-color: #ddd;
  font-size: 0;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

// 图片左上角的分类label
.pic-label {
  position: absolute;
  background-color: @mainColor;
  color:#fff;
  top:0;
  left:0;
}

// 价格容器
.price {
  span {
    color: @priceColor;
    font-size: 1.5em;
  }
}

.wrapper {
  width: 925px;
  margin: 0 auto;
}


.site-footer {
  .clearfix();
  text-align: right;
  background-color: @mainColor;
  height: 3em;
  line-height: 3em;
  margin: 20px 0;
  a {
    color: #fff;
    padding-right: 20px;
  }
}

//网站导航
.site-nav {
  width: 900px;
  height:56px;
  background-color: #fff;
  margin: 30px auto;
  box-shadow: 5px 5px 15px rgba(0,0,0,.3);
  z-index: 111;
  .logo {
    background: url(../img/logo.png)
  }
  li {
    float:left;
    width: 120px;
    border-right: 1px solid #a8a8a8;
    text-align: center;
    height:56px;
    line-height: 56px;
    position: relative;
    .flip {
      position: absolute;
      top:0;
      width: 100%;
      height: 0;
      background-color: #333;
      text-indent: -9999px;
      transition: height 0.2s;
      overflow: hidden;
    }
    &:hover {
      .flip {
        height:100%;
        color:#fff;
        text-indent: 0;
      }
      .sl {
        height:200%;
      }
    }
    &.please {
      border: none;
      width: 170px;
      text-align: right;
    }
  }
  .lang {
    float:right;
    border-left: 1px solid #a8a8a8;
    border-right: none;
  }
}

// 轮播
.ccslider {
  position: relative;
  height:100%;
  overflow: hidden;
  li {
    float:left;
    text-align: center;
  }
  .ccs-pic {
    li {
      width:100%;
      position: relative;
    }
  }
  .ccs-nav {
    position: absolute;
    bottom:10px;
    left:30px;
    width:1000px;
    height:170px;
    overflow: hidden;
    li {
      width: 25%;
      img {
        width:100%;
      }
    }
  }
  .ccs-prev,
  .ccs-next {
    position: absolute;
    left:0;
    bottom:60px;
    width:30px;
    height:35px;
    background: url(../img/arrleft.png) no-repeat;
  }
  .ccs-next {
    left:auto;
    right:0;
    background-image: url(../img/arrright.png);
  }
}

.filter {
  float: left;
  width: 120px;
  background-color: #fcfcfc;
  border-top: 2px solid #f0f0f0;
  h3 {
    height: 50px;
    line-height: 50px;
  }
  .options {
    min-height: 100px;
  }
  .opt {
    text-indent: 20px;
  }
  dl {
    text-indent: 20px;
    width: 100%;
    margin-top: 20px;
  }
  dd > a {
    display: block;
    width: 100%;
    color: #4d4d4d;
    &.selected {
      color: @mainColor;
    }
  }
  h3,
  dt {
    color: #b4b4b4;
    font-size: 14px;
  }
  h3 {
    text-align: center;
  }
}