// main: all.less
// TODO: 图片左上角LABEL
// TODO: 各个icon
// TODO: 二维码部分,jiathis or sharebaidu

// 左侧图片区域
.preview {
  float: left;
  img {
    width: 400px;
    border:1px solid @picBorder;
  }
  &-main {
    position: relative;
  }
  &-list {
    li {
      display: inline-block;
    }
    img {
      width: 80px;
      margin: 0 8px;
      &:hover {
        border-color: darken(@picBorder, 10%);
      }
    }
  }
}

// 右侧文字说明区域
.info {
  float: right;
  width: 485px;
  font-size: 14px;
  position: relative;
  h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  .details {
    width:230px;
    p {
      line-height: 2em;
    }
    .line-gray {
      margin: 10px 0;
    }
    .price {
      float: left;
      font-size: 1.6em;
    }
    .number {
      float: right;
      margin-top: 13px;
      input {
        width: 1em;
        text-align: center;
        border:1px solid @priceColor;
      }
      .minus,
      .add {
        cursor: pointer;
      }
      .add {
        color: @priceColor;
      }
    }
    .addtocart {
      .clearfix();
      float: right;
      color: #fff;
      font-size: 16px;
      margin: 10px 0;
      background-color: @priceColor;
    }
  }
  .bonus {
    position: absolute;
    width: 165px;
    right: 0;
    top:100px;
    color: #b4b4b4;
    padding-left: 25px;
    border-left: 1px solid #b4b4b4;
    .orange {
      color: #f2954e;
      em {
        font-size: 1.6em;
      }
    }
    h4 {
      color: #000;
    }
    .line-highlight {
      height: 8px;
      width: 120px;
      background-color: #f0f0f0;
      position: absolute;
      z-index: -10;
      top:15px;
    }
    .spicy {
      color:#2b8c30;
    }
  }
}

// 下面的说明部分
.detail {
  .clearfix();
  
  .product-info {
    float: right;
    width: 735px;
  }
}

