// main: all.less

.wrapper.main {
//  width: 1060px;
}

.index-page .site-nav {
  margin:0;
  position: absolute;
  left:50%;
  margin-left: -450px;
  top:30px;
}

// 盒子上面
.boxcover1,
.boxcover2,
.boxcover3 {
  position: absolute;
  top:0;
  left:0;
  width:1106px;
  height:520px;
  background-image: url(../img/boxcover1.png);
}
.boxcover3 {
  background-image: url(../img/boxcover2.png);
}
.boxcover3 {
  background-image: url(../img/boxcover3.png);
}

//漂浮的小纸条
.pop {
  position: fixed;
  right:40px;
  bottom:100px;
  width:35px;
  font-size: 12px;
  text-align: center;
  .icon {
    background: url(../img/sidenav.png);
    height:35px;
    &.menu {
    }
    &.weixin {
      background-position: 0 -40px;
    }
    &.weibo {
      background-position: 0 -77px;
    }
    &.backtop {
      background-position: 0 -113px;
      height:20px
    }
  }
}


.section {
  position: relative;
  .sec-label,
  .sec-icon {
    text-indent: -999px;
    position: absolute;
    top:0;
    left:66px;
    z-index: 111;
  }
  .sec-label {
    width:161px;
    height:62px;
    border-radius: 5px;
  }
  .sec-icon {
    left:auto;
    right:0;
  }
}
.inner-wrapper {
  position: relative;
  width:1060px;
  height: 100%;
  margin:0 auto;
}


.sec1 {
  background: #e7e7e7;
  .inner-wrapper {
    background: url(../img/sec1_bg.jpg) no-repeat 50% center
  }
}

//滑动试试
.tryscroll {
  position: absolute;
  bottom:10px;
  left:50px;
  width:135px;
  height:50px;
  background: url(../img/tryscroll.png);
  -webkit-animation: tryscroll 1s ease-out 0s infinite alternate;
}
@-webkit-keyframes tryscroll {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

// 跳页onepage
.jumppage {
  position: absolute;
  bottom:10px;
  left:50%;
  margin-left:-270px;
  .jumpto {
    float:left;
    width:140px;
    height:54px;
    text-indent: -999px;
    margin: 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    &:nth-of-type(1) {
      background-image: url(../img/sec2_label.png);
    }
    &:nth-of-type(2) {
      background-image: url(../img/sec3_label.png);
    }
    &:nth-of-type(3) {
      background-image: url(../img/sec4_label.png);
    }
  }
}
.sec2 {
  background: url(../img/sec2_bg.jpg) center;
  .sec-label {
    background: url(../img/sec2_label.png);
  }
}
.sec3 {
  background: url(../img/sec3_bg.jpg) center;
  .sec-label {
    background: url(../img/sec3_label.png);
  }
  .ccs-nav ul {
    margin:0 auto;
  }
  .chef-head,
  .chef-intro {
    position: absolute;
    width:100px;
    left:10px;
    top:20px;
  }
  .chef-intro {
    top:100px;
    height:200px;
    background-color: blue;
    border-radius: 5px;
  }
  .ccs-pic {
    img {
      margin-top: 70px;
    }
  }
}
.sec4,
.sec5 {
  background-color: #fff;
}
.sec4 {
  .sec-label {
    background: url(../img/sec4_label.png);
  }
  ul {
    width:1000px;
    margin:0 auto;
    padding-top:80px;
  }
  li {
    float: left;
    width:33.3%;
    text-align: center;
  }
  .method {
    text-align: left;
    padding: 1em 3em;
  }
  .label {
    display: inline-block;
    background-color: #ef9231;
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
    &.bg2 {
      background-color: #e2633c;
    }
    &.bg3 {
      background-color: #a08364;
    }
  }
}
.sec5 {
  text-align: center;
  img {
    display: inline-block;
    margin: 5px;
  }
}