// main: all.less
// TODO: 左边条件区域
// TODO: 列表文本区域
// TODO: 各个icon

//  
//  .selected {
//    em {
//      color: @mainColor;
//    }
//    .unselect {
//      float: right;
//      color: #fff;
//      padding: 0 5px;
//      background-color: @mainColor;
//    }
//  }
//  
.product-list {
  float: right;
  width: 800px;
  .product-item {
    float: left;
    width: 340px;
    margin: 0 35px 30px 25px;
    position: relative;
//      border: 1px solid #fff;
    .headpic {
      img {
        width: 100%;
        height:215px;
      }
    }
    &:hover {
      border-color: #ddd;
    }
    h6 {
      color: #434343;
      font-size: 18px;
      height: ;
    }
    .category {
      position: absolute;
      top:216px;
      right: 0;
    }
    p {
      color: #898989;
    }
    .price {
      float: left;
      span {
        font-size: 35px;
        font-style: italic;
      }
    }
    .addtocart {
      float: right;
      background-color: @priceColor;
      padding: 3px 5px;
      color: #fff;
      margin-top: 10px;
    }
  }
}